tr {
    transition: .5s linear all;
}

.list-group {
    position: absolute;
    top: 175%;
    left: 200%;
    z-index: 23;
    cursor: pointer;
}

.list-group-item {
    text-align: left;
}

.popover-content {
    font-size: .8em;
}

.btn {
    margin-bottom: 15px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    margin-right: 5px;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}